
*,
::before,
::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(158, 248, 185);
}

.div {
    border: 1px solid red;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 269px;
    height: 269px;
    margin: 60px;
}

.grid {
    border: 1px solid rgb(0, 0, 0);
    width: 16px;
    height: 16px;
}
.grid:hover {
    background-color: aqua;
}

h1 {
    text-align: center;
}